.container {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0.5rem;
  background: green;
  &:hover {
    cursor: pointer;
  }
  .header {
  }
  .dropdown {
    position: absolute;
    margin: 0.1rem;
    padding: 0 0.5rem;
    top: 100%;
    left: 0;
    background: violet;
    z-index: 1;
  }
}
