.event {
  display: flex;
  justify-content: center;
  gap: 3rem;
  border: 2px solid black;
  .container {
    border: 2px solid black;
    flex-grow: 1;
    .image {
      width: fit-content;
    }
    .hall {
      width: 100%;
      display: flex;
      justify-content: center;
      margin: 1rem;
      .row {
        margin: 0.1rem;
        .occupied {
          width: 40px;
          height: 40px;
          margin: 0.6rem;
          display: flex;
          align-items: center;
          justify-content: center;
          color: #f1f3f5; /* set the text color */
          font-family: Arial, sans-serif;
          cursor: not-allowed;
        }
        .seat {
          width: 40px;
          height: 40px;
          margin: 0.6rem;
          display: flex;
          align-items: center;
          justify-content: center;
          color: #f1f3f5; /* set the text color */
          font-family: Arial, sans-serif; /* set the font family */
          cursor: pointer;
        }
        .isTempSeat {
          width: 40px;
          height: 40px;
          margin: 0.6rem;
          display: flex;
          align-items: center;
          background: repeating-linear-gradient(
            rgb(96, 93, 169),
            rgb(96, 93, 169) 15px,
            rgb(120, 205, 4) 10px,
            rgb(120, 205, 4) 10px
          );
          justify-content: center;
          color: #f1f3f5; /* set the text color */
          font-family: Arial, sans-serif; /* set the font family */
          cursor: pointer;
        }
      }
    }
    .seatInfoContainer {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      .seatInfo {
        margin: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        .seatLabel {
          margin: 5px;
          width: 20px;
          height: 20px;
        }
      }
    }
  }
}
